<!doctype html>
<html lang="en">

<head>
    <title>{{meta_title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{ghost_head}}

</head>

<body class="{{body_class}}">
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="#">Home</a>
        </div>
    </nav>

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}


    <div class="card">
        <div class="card-footer text-muted">

            &copy; {{date format="YYYY"}} {{@site.title}}
        </div>
    </div>
    {{ghost_foot}}
</body>

</html>